.files-row-actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    position: absolute;
    top: calc(100% + (var(--popup-caret-size, 8px) * 2));
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-popup, 100);
  }

  &__content .popup__caret {
    left: 50%;
    transform: translateX(-50%);
  }

  
  &__content {
    .popup__scroll-container {
      max-height: none;
      overflow-y: visible;
    }

    .popup-button-list__button {
      font-size: 0.8rem;
      line-height: calc(var(--base) * 0.85);
    }
  }
}


