BUILD_ENV=$(BUILD_ENV)
DATABASE_URI=postgresql://postgres:password@localhost:5433/pages_editor
PAYLOAD_SECRET=mysecret
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PREVIEW_URL=http://localhost:4561
OAUTH_CLIENT_ID=pages-client
OAUTH_CLIENT_SECRET=client-secret
OAUTH_AUTH_ENDPOINT=http://localhost:9001/oauth/authorize
OAUTH_TOKEN_ENDPOINT=http://localhost:9001/oauth/token
OAUTH_USERINFO_ENDPOINT=http://localhost:9001/userinfo
LOGOUT_ENDPOINT=http://localhost:9001/logout.do
PUBLIC_URL=http://localhost:3000
PROMPT_URL=http://localhost:5000/reload
TEST_DATABASE_URI=postgresql://postgres:password@localhost:5433/pages_editor_test
STORAGE_ENDPOINT_URL=http://localhost:9000
STORAGE_FORCE_PATH_STYLE=true
SITE_METADATA_BUCKET=pages-editor-bucket
AWS_ACCESS_KEY_ID=pages-editor-access-key
AWS_SECRET_ACCESS_KEY=pages-editor-secret-key
AWS_REGION=us-gov-west-1
BUCKET_MANAGER_AWS_ACCESS_KEY_ID=pages-editor-access-key
BUCKET_MANAGER_AWS_SECRET_ACCESS_KEY=pages-editor-secret-key
EMAIL_HOST=